body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ---------------------------------------------HEADER--------------------------------------------- */

.header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.nav-logo-item {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.nav-list-item .nav-link:hover,
.nav-list-item .nav-link:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
    margin-left: auto;
}

.contact-info-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-info-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.contact-info-item .contact-info-link:hover,
.contact-info-item .contact-info-link:focus {
    color: #404bbf;
}

/* ---------------------------------------------HERO--------------------------------------------- */

.hero {
        background-color: #2E2F42;
        max-width: 1440px;
        margin: 0 auto;
        padding: 188px 0;
        background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(/images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
     
    
}

.hero-bg {
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 188px 0 188px;

    width: 100%;
    margin: 0 auto; */
    box-sizing: border-box;
    background-size: cover;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    display: block;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background: #4d5ae5;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* ---------------------------------------------ADVANTAGES--------------------------------------------- */

.advantages-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.goal-icon-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #f4f4fd;
    margin-bottom: 8px;
}

.member-role {
        font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            text-align: center;
            color: #434455;
            margin-bottom: 8px;
}

.list-socials {
    display: flex;
    align-items: center;
    justify-content: center;
     display: flex;   
     gap: 24px;
     margin-left: auto;
}
.box-socials {
    width: 40px;
    height: 40px;
   
}

.socials-link {
    width: 40px;
    height: 40px;
    display: flex;
    gap: 24px;
    border-radius: 50%;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    z-index: 99;
   
    
}

.icon-social {
    fill: #f4f4fd;
}
/* ---------------------------------------------OUR TEAM--------------------------------------------- */

.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-member {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.member-descr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0;
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* ---------------------------------------------OUR PORTFOLIO--------------------------------------------- */

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item-descr {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------------------------------FOOTER--------------------------------------------- */

.container-footer {
    display: flex;
    flex-direction: flex;
    align-items: baseline;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.footer {
    background-color: #2E2F42;
        color: #F4F4FD;
        padding: 100px 0;
        display: flex;
        align-items: baseline;
}
.social-media {
    font-weight: 500;

}
.social-footer {
    display: flex;
    gap: 16px;     
}

.footer-text {
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
            margin-bottom: 16px;
}

.footer-block-logo {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-item {
    color: #f4f4fd;
}

.footer-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-tect-icon {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-container-icon {
    margin-right: 120px;
}

.container-footer .socials-link:hover,
.container-footer .socials-link:focus {
    background-color: #31d0aa;
}
